@import '../../styles/customMediaQueries.css';

.root {
}

/* heroContainer gives the height for SectionHero */
/* Safari has a bug with vw padding inside flexbox. Therefore we need an extra div (container) */
/* If you've lot of content for the hero, multiple lines of text, make sure to adjust min-heights for each media breakpoint accordingly */
.heroContainer {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (--viewportMedium) {
  }

  @media (--viewportLarge) {
  }
}

.hero {
  justify-content: center;
  align-items: stretch;
  padding: 12px 24px 0;

  @media (--viewportMedium) {
  }

  @media (--viewportLarge) {
    justify-content: center;
    padding: 12px 36px 0;
  }
}

.sections {
  margin: 0;
  padding-top: 1px;
}

.section {
  height: auto;
  margin: 36px auto;
}

.section:first-child {
  margin-top: 24px;
}

/* Square corners for the last section if it's even */
.section:nth-of-type(2n):last-of-type {
  @media (--viewportMedium) {
    border-radius: 4px 4px 0 0;
  }
}

.sectionContent {
  position: relative;
  padding: 0 24px;

  @media (--viewportMedium) {
    max-width: 100%;
  }

  @media (--viewportLarge) {
    /* max-width: 1128px; */
    padding: 0 36px 0 36px;
  }

  @media (--viewportXXLarge) {
    max-width: 1056px;
    padding: 0;
  }
}

.sectionContentFirstChild {
  composes: sectionContent;
  margin: 0;
}

/* A bar on top of light sections 
.section:nth-of-type(2n) .sectionContent::before {
  background: var(--marketplaceColor);
  content: '';
  display: block;
  width: 109px;
  height: 6px;

  position: absolute;
  top: -48px;

  @media (--viewportMedium) {
    width: 192px;
    height: 8px;
  }

  @media (--viewportLarge) {
  }
}
*/
